@import "/public/styles/variables";

.btn {
    height: 36px !important;
    cursor: pointer;
    transition: 0.3s;

    svg {
        width: 100%;
        height: 100%;
        stroke: $green;
        transition: 0.3s;
    }
}
