@import "/public/styles/variables";


.textarea {
  border: 1px solid rgb(0 97 255 / 40%);
  padding: 10px 12px;
  background-color: $bg;
  color: $white;
  font-size: 16px;
  height: auto;
  line-height: 20px;
  transition: 0.15s;
  border-radius: 6px;
  resize: none;

  &:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 1px solid $white;
  }
  &::placeholder {
    color: $white-gray;
  }
}