$bg: rgb(2, 8, 23);
$gray: rgb(30, 41, 59);
$white: rgb(248, 250, 252);
$white-gray: rgba(248, 250, 252, 0.8);

$border:rgba(30, 41, 59, 0.4);
$green: rgb(34, 197, 94);

$hover: rgb(30, 41, 59);
$red: rgb(225, 29, 72);

$dark-text: rgb(15, 23, 42);
$dar-border: rgb(39, 39, 42);