@import "/public/styles/variables";

.tags {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tag {
  color: $red;
  font-size: 16px;

}

.title {
  margin-top: 15px;
}

.subtitle {
  margin-top: 30px;
  color: $white-gray;
  margin-bottom: 30px;
}
.description {
  color: $white-gray;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.blockTitle {
  font-size: 24px;
}